{% extends 'base.html.twig' %}

{% block title %}Cadastro{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Cadastro</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Senha'
        }) }}
        {{ form_row(registrationForm.type) }}

        <button type="submit" class="btn btn-success">Cadastrar</button>
    {{ form_end(registrationForm) }}
{% endblock %}
