{% extends 'base.html.twig' %}

{% block title %}TipoUnidade index{% endblock %}

{% block body %}
    <h1>TipoUnidade index</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Buscar') }}</button>
    {{ form_end(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descricao</th>
                <th>Valor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_unidade in pager %}
            <tr>
                <td>{{ tipo_unidade.id }}</td>
                <td>{{ tipo_unidade.descricao }}</td>
                <td>{{ tipo_unidade.valor }}</td>
                <td>
                    <a href="{{ path('app_tipo_unidade_show', {'id': tipo_unidade.id}) }}">show</a>
                    <a href="{{ path('app_tipo_unidade_edit', {'id': tipo_unidade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
        {% if is_granted('TIPO_UNIDADE_ADD') %}
        <a href="{{ path('app_tipo_unidade_new') }}" class="btn btn-success shadow-sm">
            <i class="fas fa-plus"></i> Adicionar
        </a>
        {% endif %}
        <div>{{ pagerfanta(pager) }}</div>
    </div>
{% endblock %}
