{% extends 'base.html.twig' %}

{% block title %}TipoUnidade index{% endblock %}

{% block body %}
    <h1>TipoUnidade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descricao</th>
                <th>Valor</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_unidade in tipo_unidades %}
            <tr>
                <td>{{ tipo_unidade.id }}</td>
                <td>{{ tipo_unidade.descricao }}</td>
                <td>{{ tipo_unidade.valor }}</td>
                <td>
                    <a href="{{ path('app_tipo_unidade_show', {'id': tipo_unidade.id}) }}">show</a>
                    <a href="{{ path('app_tipo_unidade_edit', {'id': tipo_unidade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tipo_unidade_new') }}">Create new</a>
{% endblock %}
