{% extends 'base.html.twig' %}

{% block title %}Categorias de produtos{% endblock %}

{% block body %}
    <h1>Categorias de produtos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td>{{ categorium.id }}</td>
                <td>{{ categorium.descricao }}</td>
                <td>
                    <a href="{{ path('app_categoria_show', {'id': categorium.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_categoria_edit', {'id': categorium.id}) }}" class="btn btn-secondary"><i class="fas fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categoria_new') }}" class="btn btn-success">Adicionar</a>
{% endblock %}
