{% extends 'base.html.twig' %}

{% block title %}Categorias de produtos{% endblock %}

{% block body %}
<div class="container mt-5 p-5">

    <h2 class="mb-3">Categorias de produtos</h2>
    <div class="table-responsive rounded shadow">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in pager %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <td class="d-flex justify-content-end gap-2">
                        <a href="{{ path('app_categoria_show', {'id': categoria.id}) }}" class="btn btn-primary"><i
                                class="fas fa-eye"></i> Visualizar</a>
                        <a href="{{ path('app_categoria_edit', {'id': categoria.id}) }}" class="btn btn-secondary"><i
                                class="fas fa-pencil"></i> Editar</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
        <a href="{{ path('app_categoria_new') }}" class="btn btn-success shadow-sm">
            <i class="fas fa-plus"></i> Adicionar
        </a>
        <div>{{ pagerfanta(pager) }}</div>
    </div>
</div>
{% endblock %}
