{% extends 'base.html.twig' %}

{% block title %}Motoristas{% endblock %}

{% block body %}

   

    <div class="container mt-5 p-5">
        <h1 class="mb-3">Motoristas</h1>
      
        <div class="table-responsive shadow-lg">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for motoristum in motoristas %}
            <tr>
                <td>{{ motoristum.id }}</td>
                <td>{{ motoristum.nome }}</td>
                <td>{{ motoristum.telefone }}</td>
                <td>
                    <a href="{{ path('app_motorista_show', {'id': motoristum.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_motorista_edit', {'id': motoristum.id}) }}" class="btn btn-secondary"><i class="fas fa-pencil"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_motorista_new') }}" class="btn btn-success">Adicionar</a>
{% endblock %}
