{% extends 'raw.html.twig' %}

{% block title %}New Desalojado{% endblock %}

{% block body %}
 

<div class="d-flex">
    <div class="m-auto mt-5">
        <div class="card border-0 mt-5 p-5 shadow">
            <div class="card-header bg-transparent text-center">
            <h2>Cadastro</h2>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary" id="salvar">{{ button_label|default('Salvar') }}</button>
                {{ form_end(form) }}

                {% if form.vars.errors|length > 0 %}
                    <div class="errors">
                        <ul>
                            {% for error in form.vars.errors %}
                                <li>{{ error.message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#desalojado_estado').select2({
            theme: 'bootstrap-5'
        });

        $('#desalojado_cidade').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione',
        });

        $('#desalojado_genero').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione',
        });

        $('#desalojado_corDaPele').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione',
        });

        $('#desalojado_desalojadoTipoAbrigo').select2({
            theme: 'bootstrap-5',
            placeholder: 'Selecione',
        });

        $('#desalojado_estado').on('select2:select', function (e) {
            var data = e.params.data;
            fetch('/cities/' + data.id)
            .then(response => response.json())
            .then(data => {
                var citySelect = document.getElementById('desalojado_cidade');
                citySelect.innerHTML = '';
                data.forEach(function(city) {
                    var option = new Option(city.name, city.id);
                    citySelect.add(option);
                });
            });
        });
        
        $('#desalojado_estado').val(20).trigger('change');
        populateCidadesByEstado(20);
        $('#desalojado_genero').val(null).trigger('change');
        $('#desalojado_corDaPele').val(null).trigger('change');
        $('#desalojado_desalojadoTipoAbrigo').val(null).trigger('change');

        $('#salvar').on('click', function() {
            var cpf = $('#desalojado_cpf').val();

            if (!$('#desalojado_genero').val()) {
                $('#desalojado_genero').next('.select2-container').find('.select2-selection').css('border-color', 'red');
                event.preventDefault(); // Cancela o envio do formulário
            }
            
            console.log(cpf.length != 0);

            if (cpf.length != 0 && isValidCPF(cpf)) {
                $('#desalojado').submit();
            } else if(cpf.length != 0) {
                alert("cpf invalido");
                event.preventDefault(); // Cancela o envio do formulário
            }
        });

        const cepRegex = /^[0-9]{5}-[0-9]{3}$/;

        $('#desalojado_cepResidencia').on('input', function() {
            let cep = $(this).val();

            // Remove qualquer caractere que não seja número
            cep = cep.replace(/\D/g, '');

            if (cep.length > 8) {
                cep = cep.substring(0, 8);
            }

            // Adiciona a máscara (#####-###)
            if (cep.length > 5) {
                cep = cep.replace(/^(\d{5})(\d)/, '$1-$2');
            }

            $(this).val(cep);
        });

        $('#desalojado_dataNascimento').on('input', function() {
            var value = $(this).val();
            
            // Remove caracteres não numéricos
            value = value.replace(/\D/g, '');
            
            // Adiciona a formatação de data (dd/mm/yyyy)
            if (value.length > 2) {
                value = value.slice(0, 2) + '/' + value.slice(2);
            }
            if (value.length > 5) {
                value = value.slice(0, 5) + '/' + value.slice(5, 9);
            }
            
            // Define o valor formatado no campo de entrada
            $(this).val(value);
        });
    });

    //Formata campo Celular
    $('#desalojado_celular').on('input', function() {
        // Aplica a formatação e aceita apenas números
        var value = $(this).val();
        
        // Remove caracteres não numéricos
        value = value.replace(/\D/g, '');

        // Formata o celular (00) 00000-0000
        value = value.replace(/(\d{2})(\d)/, '($1) $2');
        value = value.replace(/(\d{5})(\d)/, '$1-$2');
        
        $(this).val(value);
    });

    //Formata campo CPF
    $('#desalojado_cpf').on('input', function() {
        var value = $(this).val();
        
        // Remove caracteres não numéricos
        value = value.replace(/\D/g, '');

        // Formata o CPF (000.000.000-00)
        value = value.replace(/(\d{3})(\d)/, '$1.$2');
        value = value.replace(/(\d{3})(\d)/, '$1.$2');
        value = value.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
        
        $(this).val(value);
    });
    
    function populateCidadesByEstado(id) {
        $('#desalojado_cidade')
            .empty()
            .append('<option selected="selected" value="">Escolha um estado</option>');
        
        fetch('/cities/' + id)
            .then(response => response.json())
            .then(data => {
                var citySelect = document.getElementById('desalojado_cidade');
                citySelect.innerHTML = '';
                data.forEach(function(city) {
                    var option = new Option(city.name, city.id);
                    citySelect.add(option);
                });
            })
            .then(function() {
                $('#desalojado_cidade').val(null).trigger('change');
            });
    }

    function isValidCPF(cpf){
        cpf = cpf.replace(/\D/g, '');
        if(cpf.toString().length != 11 || /^(\d)\1{10}$/.test(cpf)) return false;
        var result = true;
        [9,10].forEach(function(j){
            var soma = 0, r;
            cpf.split(/(?=)/).splice(0,j).forEach(function(e, i){
                soma += parseInt(e) * ((j+2)-(i+1));
            });
            r = soma % 11;
            r = (r <2)?0:11-r;
            if(r != cpf.substring(j, j+1)) result = false;
        });
        return result;
    }
</script>

{% endblock %}
