{% extends 'base.html.twig' %}

{% block title %}Entregas{% endblock %}

{% block body %}


<div class="container mt-5 p-5">
    <h2 class="mb-3">Entregas</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Buscar') }}</button>
    {{ form_end(form) }}

    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
        <a href="{{ path('app_entrega_new') }}" class="btn btn-success shadow-sm">
            <i class="fas fa-plus"></i> Adicionar
        </a>
        {# <div>{{ pagerfanta(pager) }}</div> #}
    </div>
    
    <div class="table-responsive rounded shadow-lg">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Motorista</th>
                    <th>Posto Destino</th>
                    <th>Descrição Destino</th>
                    <th class="text-end">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for entrega in pager %}
                <tr class="align-middle">
                    <td>{{ entrega.id }}</td>
                    {% if entrega.motorista is not null %}
                        <td>{{ entrega.motorista.nome }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}

                    {% if entrega.postoAjudaDestino is not null %}
                        <td>{{ entrega.postoAjudaDestino.descricao }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ entrega.observacaoDestino }}</td>
                    <td class="d-flex justify-content-end gap-2">
                        <a href="{{ path('app_entrega_show', {'id': entrega.id}) }}" class="btn btn-primary"><i
                                class="fas fa-eye"></i></a>
                        <a href="{{ path('app_entrega_edit', {'id': entrega.id}) }}" class="btn btn-secondary"><i
                                class="fas fa-pencil"></i></a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
        {% if is_granted('CATEGORIA_ADD') %}
        <a href="{{ path('app_categoria_new') }}" class="btn btn-success shadow-sm">
            <i class="fas fa-plus"></i> Adicionar
        </a>
        {% endif %}
        <div>{{ pagerfanta(pager) }}</div>
    </div>
</div>
{% endblock %}