{% extends 'base.html.twig' %}

{% block title %}Centros de distribuição{% endblock %}

{% block body %}
    <h1>Centros de distribuição</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Email usuario</th>
                <th>Ações</th>
            </tr>
        </thead>
    <tbody>
        {% for centro_distribuicao in centro_distribuicaos %}
            <tr>
                <td>{{ centro_distribuicao.id }}</td>
                <td>{{ centro_distribuicao.descricao }}</td>
                <td>{{ centro_distribuicao.usuario.email }}</td>
                <td>
                    <a href="{{ path('app_centro_distribuicao_show', {'id': centro_distribuicao.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                    {% if is_granted('CENTRO_DISTRIBUICAO_EDIT', centro_distribuicao) %}
                    <a href="{{ path('app_centro_distribuicao_edit', {'id': centro_distribuicao.id}) }}" class="btn btn-secondary"><i class="fas fa-pencil"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_centro_distribuicao_new') }}" class="btn btn-success">Adicionar</a>
{% endblock %}
