{% extends 'base.html.twig' %}

{% block title %}Funcao{% endblock %}

{% block body %}
    <h1>Funcao</h1>

    <table class="table mt-5">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ funcao.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ funcao.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_funcao_index') }} " class="btn btn-primary">back to list</a>

    <a href="{{ path('app_funcao_edit', {'id': funcao.id}) }}" class="btn btn-primary">edit</a>

    {{ include('funcao/_delete_form.html.twig') }}
{% endblock %}
