{% extends 'base.html.twig' %}

{% block title %}Estoque Posto de coleta{% endblock %}

{% block body %}

<div class="container mt-5 p-5">
    <h2 class="mb-3 font-weight-bold">Estoque Posto</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Buscar') }}</button>
    {{ form_end(form) }}

    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">

        {% if is_granted('PRODUTO_POSTO_ADD') %}
        <a href="{{ path('app_produto_posto_new') }}" class="btn btn-success shadow-sm">
            <i class="fas fa-plus"></i> Adicionar
        </a>
        {% endif%}
    </div>
    <div class="table-responsive rounded shadow-lg">
        <table class="table p-2 ">
            <thead class="thead-dark">
                <tr>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Quantidade</th>
                    <th>Unidade</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for produto_posto in pager %}
                <tr class="align-middle">
                    <td>{{ produto_posto.produto.descricao }}</td>
                    <td>{{ produto_posto.produto.categoria.descricao }}</td>
                    <td>{{ produto_posto.quantidade }}</td>
                    <td>{{ produto_posto.produto.unidadeArmazenamento.descricao }}</td>
                    <td class="d-flex justify-content-end gap-2">
                        <a href="{{ path('app_produto_posto_show', {'id': produto_posto.id}) }}" class="btn btn-primary"><i
                            class="fas fa-eye"></i></a>

                    {% if is_granted('PRODUTO_POSTO_EDIT') %}
                        <a href="{{ path('app_produto_posto_edit', {'id': produto_posto.id}) }}" class="btn btn-secondary"><i
                                class="fas fa-pencil"></i></a>
                        </td>
                    {% endif %}
                </tr>

                {% else %}
                <tr>
                    <td colspan="4" class="text-center text-muted">
                        Nenhum registro encontrado
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3 mb-5">
        <div>{{ pagerfanta(pager) }}</div>
    </div>

    
<script>
    $(document).ready(function() {
        $('#produto_search_categoria').select2({
            theme: 'bootstrap-5'
        });
    });
</script>
{% endblock %}

